Hi there, what is your name?


<%# The word "action" is refering to the route this form is going to take%>
<%# The form below is throwing the data to the server, which catches it by having the same receiving address (/name) and way of receiving the data (post).%>

<form action = "name" method = "post"> 
	<input type = "text" name = "user_name">
	<input type = "submit">
</form>



